Source/.svn
Source/GPUCache
Source/modeler-merge-marker
Source/.mendix-cache
Source/*.mpr.lock
Source/*.mpr.bak
Source/*.mpr.left*
Source/*.mpr.right*
Source/.settings
Source/deployment
Source/theme-cache
project-settings.user.json
proxies
target
*.launch
.classpath
.project
.vscode